@font-face {
  font-family: 'Baloo';
  src: url('Baloo-Regular.eot');
  src: url('Baloo-Regular.eot') format('embedded-opentype'),
    url('Baloo-Regular.woff') format('woff'),
    url('Baloo-Regular.woff2') format('woff2'),
    url('Baloo-Regular.ttf') format('truetype'),
    url('Baloo-Regular.svg') format('svg');
}

.fontpro,
.fontpro-28159 {
  font-family: 'Baloo', sans-serif;
}

@font-face {
  font-family: 'Lato', sans-serif;
  src: url('Lato-Regular.eot');
  src: url('Lato-Regular.eot') format('embedded-opentype'),
    url('Lato-Regular.woff') format('woff'),
    url('Lato-Regular.woff2') format('woff2'),
    url('Lato-Regular.ttf') format('truetype'),
    url('Lato-Regular.svg') format('svg');
}

.fontpro,
.fontpro-28159 {
  font-family: 'Lato', sans-serif;
}